<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEHICLE SERVICE ENTRY</title>
</head>
<body>
    <h1>VEHICLE SERVICE ENTRY</h1>
    <form action="/vehicle_service_entry" method="POST">
        <label>Select the category of the vehicle</label><br>
        <select name="category_of_vehicle" required>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
        </select><br>
        <label>Enter the date of Servicing</label><br>
        <input type="date" name="date_of_service" required><br>
        <label>Select the Issue Part</label><br>
        <select name="select_the_issued_part">
            <% selectedIssuePart.forEach(part => { %>
                <option value="<%= part %>"><%= part %></option>
           <% }) %>
        </select><br>
        <label>Enter the problem of vehicle</label><br>
        <input type="text" name="problem_in_vehicle" required><br>
        <label>Enter the price after repairing</label><br>
        <input type="number" name="price_after_servicing" required><br>
        <button type="submit">UPDATE THE STOCK</button>
    </form><br>
    <a href="/">Go back</a>
    <style>
        a {
        display: inline-block;
        padding: 10px 20px;
        background-color: grey;
        color: black;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        margin-left: 700px;
        }

      h1 {
            text-align: center;
        }

        form {
            width: 300px; 
            margin: 0 auto; 
            padding: 20px;
            border: 2px solid black;
            border-radius: 15px;
        }

        label, input, select, button {
            display: block; /* Make elements stack vertically */
            margin-bottom: 10px;
            width: 100%; /* Make input fields full width */
            box-sizing: border-box; /* Include padding and border in element's total width and height */
        }

        select {
            border-color: black;
            border-width: 2px;
            border-style: solid;
            height: 50px;
            text-align: center;
            font-size: larger;
            border-radius: 5px;
        }

        label {
            font-size: larger;
            text-align: center;
        }

        input {
            height: 50px;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            font-size: large;
            font-weight: 600;
            text-align: center;
            border-radius: 5px;
        }

        button {
            border-radius: 5px;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            height: 35px;
            cursor: pointer;
            font-size: larger;
        }
    </style>
</body>
</html>