<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VEHICLE USAGE ENTRY</h1>
    <form action="/vehicle_usage" method="POST">
        <label>Enter the vehicle Serial number</label><br>
        <input type="text" name="vehicle_serial_number" required><br>
        <label>Select the vehicle category</label><br>
        <select name="vehicle_category" required>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
        </select><br>
        <label>Enter the date</label><br>
        <input type="date" name="usage_date" required><br>
        <label>Enter the IN TIME</label><br>
        <input type="time" name="time_in" required><br>
        <label>Reading of Vehicle (Before Usage)</label><br>
        <input type="number" name="reading_in" required><br>
        <label>Enter the OUT TIME</label><br>
        <input type="time" name="time_out" required><br>
        <label>Reading of Vehicle (After Usage)</label><br>
        <input type="number" name="reading_out" required><br>
        <label>Fuel Input (Before Usage)</label><br>
        <input type="number" name="fuel_input" required><br>
        <label>Fuel Output (After Usage)</label><br>
        <input type="number" name="fuel_output" required><br>
        <button type="submit">UPDATE THE TABLE</button>
    </form><br>
    <a href="/">Go Back</a>

    <style>
        a {
        display: inline-block;
        padding: 10px 20px;
        background-color: grey;
        color: black;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        margin-left: 700px;
        }

      h1 {
            text-align: center;
        }

        form {
            width: 300px; 
            margin: 0 auto; 
            padding: 20px;
            border: 2px solid black;
            border-radius: 15px;
        }

        label, input, select, button {
            display: block; /* Make elements stack vertically */
            margin-bottom: 10px;
            width: 100%; /* Make input fields full width */
            box-sizing: border-box; /* Include padding and border in element's total width and height */
        }

        select {
            border-color: black;
            border-width: 2px;
            border-style: solid;
            height: 50px;
            text-align: center;
            font-size: larger;
            border-radius: 5px;
        }

        label {
            font-size: larger;
            text-align: center;
        }

        input {
            height: 50px;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            font-size: large;
            font-weight: 600;
            text-align: center;
            border-radius: 5px;
        }

        button {
            border-radius: 5px;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            height: 35px;
            cursor: pointer;
            font-size: larger;
        }
    </style>
</body>
</html>