<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BEEKAY STEEL AUTOMOBILE MAINTAINENCE</title>
  </head>
  <body>
    <h1 id="headingone">BEEKAY STEEL AUTOMOBILE MAINTAINENCE</h1>
    <div class="box1">
      <a class="linkdesign" href="/upload_vehicle_description" role="button"
        >Vehicle Entry</a
      > <br><br>
      <a class="linkdesign" href="/upload_spare_parts_description" role="button">Spare Parts Entry</a>
      <a class="linkdesign" href="/showdata" role="button">Check Inventory Stock</a><br><br>
      <a class="linkdesign" href="/issue_spare_part" role="button">Issue the spare parts</a>
      <a class="linkdesign" href="/show_issue_data" role="button">Spare Part Issue table</a><br><br>
      <a class="linkdesign" href="/vehicle_service_entry" role="button">Vehicle Service Entry</a>
      <a class="linkdesign" href="/vehicle_service_report" role="button">Vehicle Service Report</a><br><br>
      <a class="linkdesign" href="/vehicle_usage" role="button">Vehicle Usage Entry</a>
      <a class="linkdesign" href="/show_Vehicle_Usage_Report" role="button">Vehicle Usage Report</a>
    </div>
    <style>
      #headingone {
        text-align: center;
      }

      .box1 {
        width: 100px;
        border-radius: 5px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        margin-left: 500px;
        width: 500px;
        text-align: center;
        height: 300px;
        padding-top: 10px;
      }

      .linkdesign {
        display: inline-block;
        padding: 10px 20px;
        background-color: grey;
        color: black;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
      }
    </style>
  </body>
</html>
